[Unit]
Description=Jupyterhub service
After=network-online.target
Wants=network-online.target
[Service]
Restart=on-abnormal
Environment=PATH=/opt/jupyter/bin:/usr/bin:$PATH
Environment=VIRTUAL_ENV=/opt/jupyter
ExecStart=/opt/jupyter/bin/jupyterhub -f /opt/jupyter/etc/jupyterhub_config.py
[Install]
WantedBy=multi-user.target
