[Unit]
Description=Jupyterhub service
After=network-online.target
Wants=network-online.target
[Service]
Restart=on-abnormal
ExecStart=/bin/sh -c 'cd /opt/jupyter && source bin/activate && jupyterhub -f /opt/jupyter/etc/jupyterhub_config.py'
[Install]
WantedBy=multi-user.target
